{% raw %}

<table  ng-if="fuzzy.filesNotEmpty" class="table">

   
    <tr><th>#</th><th>File Name</th><th>Country</th><th>Territory</th><th>Result</th></tr>


	<tr ng-repeat="f in fuzzy.files">
		<td>{{ $index + 1 }}</td>
		<td>{{ f.name }} {{f.$error}} {{f.$errorParam}}</td>
	   	<td>
             
              <select>
                  <option value="">-- Select Country --</option>
                  <option data-ng-repeat="country in fuzzy.countries" value="{{country.country_code}}">{{country.country_name}}</option>
              </select>
              
		</td>
		<td>

              <select>
                  <option value="">-- Select Territory --</option>
                  <option data-ng-repeat="territory in fuzzy.territories" value="{{territory.id}}">{{territory.name}}</option>
              </select>

		</td>
		<td> 
			Uploading..10%/Finding Matches..0%/ 
{% endraw %}
			<img src="{{ url_for('static', filename = 'images/excel_download_icon.jpg') }}" width="121" height="25">
{% raw %}

		</td>
	</tr>

</table>

{% endraw %}