{% extends "_home.html" %}

{% block content %}


<!-- <div class="body-content"> -->
	<div class="body-content" ng-app="fuzzy" ng-controller="fuzzyController as fuzzy">
  <div class="row">
    <!-- <h1>Welcome!</h1> -->
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">Home</a></li>
	</ul>


	<div class="panel panel-default">



		 <div class="panel-body">

		 Home > Fuzzy Match	
	 
		<h1>Fuzzy Match</h1>

		    <!-- <div class="col-lg-6 col-sm-6 col-12"> -->
		    <div>
            <h4>Upload spreadsheet</h4>
            <form id="frmFuzzy" name="frmFuzzy" role="form" ng-submit="fuzzy.uploadAndMatch()">

            <div class="input-group">
                <input id="fuzzy_files" name="fuzzy_files" type="file" multiple="" ngf-select="fuzzy.uploadFiles($files)" ng-model="fuzzy.filesToUpload">
    
            </div>
            <span class="help-block">
                <!-- Try selecting one or more files and watch the feedback -->
            </span>

      			 <div>
             <div class="col-lg-10 col-md-10 col-sm-10">
      			  {% include 'fuzzy/files_selected.html' %}
      				{{errorMsg}} 
              </div>
      			

              <div class="col-lg-2 col-md-2 col-sm-2" ng-if="fuzzy.filesNotEmpty">
            {% raw %}
            <button type="submit" class="btn btn-primary" ng-disabled="fuzzy.btn_fuzzy_disabled || frmFuzzy.$invalid">Run Fuzzy!</button>
            <br/><br/>
            <button type="cancel" class="btn btn-primary" ng-disabled="fuzzy.btn_cancel_disabled">Cancel</button>


            {% endraw %}
            
              </div>
            </div>


             </form>

        </div>


		</div>

	</div>	


  </div>
</div>

{% endblock %}



